<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.greengram.user.follow.UserFollowMapper">
    <insert id = "postUserFollow">
        INSERT INTO user_follow
        SET to_user_id = #{toUserId}
        , from_user_id = #{fromUserId}

    </insert>

<!--    <insert id="postUserFollow">-->
<!--        INSERT IGNORE INTO user_follow (to_user_id, from_user_id)-->
<!--        VALUES (#{toUserId}, #{fromUserId})-->
<!--    </insert>-->

    <delete id="deleteUserFollow">
    DELETE FROM user_follow
    WHERE to_user_id = #{toUserId} AND from_user_id = #{fromUserId}
    </delete>



</mapper>
